.root-class-bubble {
    border-radius: 8px 50px 50px 8px;
}

.branch-class-bubble {
    border-radius: 50px 50px 50px 50px;
}

.leaf-class-bubble {
    border-radius: 50px 8px 8px 50px;
}

.stand-alone-class-bubble {
    border-radius: 8px 8px 8px 8px;
}

.class-bubble {
    border: 2px solid #0e90d2;
    display: inline-block;
    padding: 5px;
    cursor: pointer;
    width: 300px;
}

.class-bubble.compact {
    width: 100px;
}

.class-bubble.compact [name="course-name"] {
    display: none;
}

.class-bubble:hover .bubble-tooltip-span {
    display: block;
    position: absolute;
    overflow: hidden;
    animation-name: appear;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
}

.bubble-tooltip-span {
    display: none;
    opacity: 0;
    text-decoration: none;
    z-index: 2;
    background: darkslategray;
    width: 300px;
    max-height: 200px;
    border-radius: 10px 10px 10px 10px;
    padding: 5px;
    position: relative;
    margin-top: 3mm;
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 100;
    }
}

/* TODO: Perhaps add a fade out animation? This may be non-trivial. */