.root-class-bubble {
    border-radius: 15px 50px 50px 15px;
}

.branch-class-bubble {
    border-radius: 50px 50px 50px 50px;
}

.leaf-class-bubble {
    border-radius: 50px 15px 15px 50px;
}

.stand-alone-class-bubble {
    border-radius: 15px 15px 15px 15px;
}

.class-bubble {
    border: 2px solid #0e90d2;
    display: inline-block;
    padding: 5px;
    cursor: pointer;
}

.class-bubble:hover .bubble-tooltip-span {
    display: block;
    position: fixed;
    overflow: hidden;
}

.bubble-tooltip-span {
    display: none;
    text-decoration: none;
    position: relative;
}