@import "app-bar.css";
@import "left-nav.css";
@import "fonts.css";

@import "md-animations/ripple.css";
@import "md-animations/input.css";

html, body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

button {
    color: #dddddd;
}

td {
    /* using fixed width for demo */
    width: 400px;
    height: 70px;
}

root-class-bubble {
    display: block;
    width: 314px;
}

leaf-class-bubble {
    display: block;
    width: 314px;
}

branch-class-bubble {
    display: block;
    width: 314px;
}

stand-alone-class-bubble {
    display: block;
    width: 314px;
}

root-class-bubble[compact], leaf-class-bubble[compact], branch-class-bubble[compact], stand-alone-class-bubble[compact] {
    width: 114px;
    text-align: center;
}

#main-body {
    position: absolute;
}

#main-body.active {
    animation: collapse-main-body 400ms forwards;
}

#main-body.inactive {
    animation: expand-main-body 400ms forwards;
}

@keyframes collapse-main-body {
    from {
        left: 0;
    }
    to {
        left: 272px;
    }
}

@keyframes expand-main-body {
    from {
        left: 272px;
    }
    to {
        left: 0;
    }
}