@import "app-bar.css";
@import "left-nav.css";
@import "md-animations/ripple.css";

html, body {
    margin: 0;
}

.row.pathway-body {
    display: flex;
}

.column.pathway-body {
    flex: 50%;
    padding: 10px;

}